<div class="outerdiv">
    <div class="innerdiv login-dark">
        <form method="post">
        <div class="illustration"><mat-icon style="font-size: 100px; padding-right: 85px;">lock</mat-icon></div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href="#" class="forgot">Forgot your email or password?</a>
    </form>

    </div>
</div>