<style>
    .topbarmainclass-1
    {
        background-color: #121212;
        padding: 5px;
        color: white;
        font-weight:400;
        font-size: small;
    }
    .topbarmainclass-2
    {
        background-color: #121212;
        padding: 5px;
        color: crimson;
        font-weight: 500;
        font-size:medium;
        letter-spacing: 2px;
    }
    hr{
        margin: 0;
        padding: 0;
        background-color: white;
    }
    </style>
        
    <div class="topbarmainclass-1" style="text-align: center;">
        Incedo MarketPlace is in Alpha Phase
    </div>
    <hr>
    <div class="topbarmainclass-2"  style="text-align: center;">
        Free Shipping above order using {{amount | currency: 'INR':true}}
    </div>