<nav class="navbar navbar-dark bg-dark justify-content-center">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active hover-underline-animation"> <app-side-bar class="sidebarsettingsicon"></app-side-bar></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text hover-underline-animation" aria-current="page" href="#">Grocery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text hover-underline-animation" aria-current="page" href="#">Mobile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text hover-underline-animation" aria-current="page" href="#">Fashion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text hover-underline-animation" aria-current="page" href="#">Appliances</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text hover-underline-animation" aria-current="page" href="#">Electronics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text hover-underline-animation" aria-current="page" href="#">More</a>
        </li>
    </ul>
</nav>